@import url("https://fonts.googleapis.com/css2?family=Anton&family=Kristi&display=swap");

#project-container {
  transition: transform 0.8s ease-in-out;
  overflow-y: auto;
  z-index: 1;
  height: 1000px;
  padding: 20rem 5rem;
  font-family: "Anton";
}

#project-container.initial {
  transform: translateX(100%);
}

#project-container.loaded {
  transform: translateX(0);
}

#project-container h4 {
  display: flex;
  width: 10rem;
}

#project {
  display: flex;
  flex-direction: column;
  z-index: 1;
  transition: transform 0.8s ease-in-out;
}

.img-card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.img-card:hover {
  transition: transform 0.5s ease-in-out;
  opacity: 85%;
}

.img-card p {
  width: 20rem;
  font-size: 60px;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  -webkit-text-stroke-color: #fff;
  transition: -webkit-text-stroke-color 0.5s ease-in-out;
}

.img-card p:hover {
  color: #fff;
}

.img {
  width: auto;
  height: 10rem;
  margin-bottom: 2rem;
  z-index: 1;
  border-radius: 15px;
}

.img:hover {
  cursor: pointer;
  z-index: 1;
}

img:hover ~ p {
  color: #fff;
}

/* Hide the scrollbar in WebKit browsers */
#project-container::-webkit-scrollbar {
  width: 0;
}

#project a {
  text-decoration: none;
}

@media screen and (max-width: 1300px) {
  @import url("https://fonts.googleapis.com/css2?family=Anton&family=Kristi&display=swap");

  #project-container {
    transition: transform 0.8s ease-in-out;
    overflow-y: auto;
    padding: 3rem 2rem 0 0rem;
    z-index: 1;
    height: 1000px;
    padding: 20rem 5rem;
    font-family: "Anton";
  }

  #project-container.initial {
    transform: translateX(100%);
  }

  #project-container.loaded {
    transform: translateX(0);
  }

  #project-container h4 {
    display: flex;
    width: 10rem;
  }

  #project {
    display: flex;
    z-index: 1;
    transition: transform 0.8s ease-in-out;
  }

  .img-card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .img-card:hover {
    transition: transform 0.5s ease-in-out;
    opacity: 85%;
  }

  .img-card p {
    width: 20rem;
    font-size: 60px;
    -webkit-text-stroke-width: 1px;
    color: transparent;
    -webkit-text-stroke-color: #fff;
    transition: -webkit-text-stroke-color 0.5s ease-in-out;
  }

  .img-card p:hover {
    color: #fff;
  }

  .img {
    width: auto;
    height: 10rem;
    margin-bottom: 2rem;
    z-index: 1;
    border-radius: 15px;
  }

  .img:hover {
    cursor: pointer;
    z-index: 1;
  }

  img:hover ~ p {
    color: #fff;
  }

  /* Hide the scrollbar in WebKit browsers */
  #project-container::-webkit-scrollbar {
    width: 0;
  }

  #project a {
    text-decoration: none;
  }

  @media screen and (max-width: 1300px) {
    #project-container {
      padding: 0;
      overflow: hidden;
    }

    #project-container.initial {
      transform: translateX(150%);
    }

    #project-container.loaded {
      transform: translateX(0);
    }

    #project {
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 650px) {
  #project-container {
    overflow: visible;
  }
  #project {
    flex-direction: column;
  }

  .img-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    z-index: 1;
    border-radius: 15px;
  }

  .img-card p {
    text-align: center;
    font-size: 25px;
    color: #fff;
  }
}
