@import url("https://fonts.googleapis.com/css2?family=Anton&family=Kristi&display=swap");

#project-container {
  transition: transform 0.8s ease-in-out;
  overflow-y: auto;
  padding: 3rem 2rem 0 0rem;
  z-index: 1;
  perspective: 1000px;
  height: 650px;
  font-family: "Anton";
}

#project-container.initial {
  transform: translateX(200%);
}

#project-container.loaded {
  transform: translateX(0);
}

#project-container h4 {
  display: flex;
  width: 10rem;
}

#project {
  display: flex;
  flex-direction: column;
  z-index: 1;
  /* background-color: aliceblue; */
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}

.img-tilt {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  transform-origin: center center;
  transform: rotateY(-15deg);
}

.img-tilt:hover {
  transition: transform 0.5s ease-in-out;
  transform: rotateY(0);
}

.img-tilt p {
  width: 20rem;
  font-size: 60px;
  -webkit-text-stroke-width: 1px;
  color: transparent;
  -webkit-text-stroke-color: #fff;
  transition: -webkit-text-stroke-color 0.5s ease-in-out;
}

.img-tilt p:hover {
  color: #fff;
}

.img {
  width: auto;
  height: 10rem;
  margin-bottom: 2rem;
  z-index: 1;
  border-radius: 15px;
}

.img:hover {
  cursor: pointer;
  z-index: 1;
}

img:hover ~ p {
  color: #fff;
}

.initial {
  transform: rotateY(45deg);
}

.loaded {
  transform: rotateY(-30deg);
}

/* Hide the scrollbar in WebKit browsers */
#project-container::-webkit-scrollbar {
  width: 0; /* Set the width to 0 to hide the scrollbar */
}

#project a {
  text-decoration: none;
}
