.blob-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.blob {
  position: absolute;
  background-color: black;
  border-radius: 50%;
  opacity: 30%;
}

@keyframes rotateBlob {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.one {
  left: -15%;
  top: -15%;
  transform-origin: center;
  height: 70rem;
  width: 70rem;
  animation: rotateBlob 25s infinite linear;
}

.two {
  left: 60%;
  top: 40%;
  transform-origin: top;
  height: 50rem;
  width: 50rem;
  animation: rotateBlob 45s infinite linear;
}

.three {
  left: 60%;
  top: 70%;
  transform-origin: right;
  height: 30rem;
  width: 30rem;
  animation: rotateBlob 30s infinite linear;
}

.four {
  left: 40%;
  top: 30%;
  height: 20rem;
  width: 20rem;
  transform-origin: left;
  animation: rotateBlob 35s infinite linear;
}

.one {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.two {
  border-radius: 36% 64% 78% 22% / 30% 65% 35% 70%;
}

.three {
  border-radius: 61% 39% 78% 22% / 53% 10% 90% 47%;
}

.four {
  border-radius: 61% 39% 78% 22% / 35% 61% 39% 65%;
}
