#contact-container {
  transition: transform 0.8s ease-in-out;
  overflow: hidden;
}

#contact-container.initial {
  transform: translateX(200%);
}

#contact-container.loaded {
  transform: translateX(0);
}

#contact-container h4 {
  display: flex;
  width: 10rem;
}
