#about-me-container {
  transition: transform 0.8s ease-in-out;
  overflow: hidden;
}

#about-me-container.initial {
  transform: translateX(400%);
}

#about-me-container.loaded {
  transform: translateX(0);
}

#about-me-container h4 {
  display: flex;
  width: 25rem;
}
