#about-me-container {
  transition: transform 0.8s ease-in-out;
  overflow: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#about-me-container.initial {
  transform: translateX(400%);
}

#about-me-container.loaded {
  transform: translateX(0);
}

#about-me-container img {
  width: 25rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

#about-me-container h4 {
  display: flex;
  width: 25rem;
}
